.button {
  background: transparent;
  border: 0.2rem solid #000000;
  border-radius: 0%;
  max-width: fit-content;
  padding: 1rem;
}
.button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.button__link {
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
