
.inputGroup {
  margin-bottom: 1.5rem;
}

label {
  color: #000000;
}


input, textarea {
  border: none;
  background-color: #f2f2f2;
  box-shadow: 6px 6px 7px #cccbcb;

  max-width: 500px;
  padding: 1rem;
  width: 50vw;
}

textarea {
  height: 30vh;
  resize: none;
}
