
.form {
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.form label {
  font-weight: 400;
}

.form input, .form textarea {
  border: 0.2rem solid #000000;
  width: 100%;
}

.form textarea {
  resize: none;
}

.form p {
  text-align: center;
}