/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

/* Reset */
html {
  font-size: 62.5%;
  border: 0;
  margin: 0;
  padding: 0;
  
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,*:before,*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}
/* /Reset */

body {
  background-color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 2.4rem;
}

p, li {
  font-size: 1.5rem;
}

.nav__ul {
  list-style: none;
  text-align: right;
}

.nav__li {
  display: inline;
}