.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  padding: 2rem;
}

.hero-content {
  color: #FF6584;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}

.h1--hero {
  font-size: 64px;
}

.hero__svg {
  height: min-content;
  width: 60%;
}

.p--hero {
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 3rem;
}