.hero {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.call-to-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__message .h1--lead, .h2--lead {
  text-align: center;
}

