.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__svg {
  height: min-content;
  width: 60%;
}